
# IDE files
.idea

.env
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea
/public/ozone/*
/public/.htaccess
/app/config/database.php
composer.lock
app/config/database.php
app/config/app.php
composer.lock
.vscode